{% extends "site_base.html" %}

{% block title %}RFID首书错架检测 - 首书详细信息 - {{ list_title }}{% endblock title %}

{% block content %}
<div class="container">
	<h3>{{ list_title }}</h3>
	<div class="row-fluid">
		<div class="span6">
			{% if pre %}
			<p class="text-left"><a class="btn-link"  href="{{ pre }} "><i class="icon-chevron-left"></i>上一区</a></p>
			{% endif %}
		</div>
		<div class="span6">
			{% if next %}
			<p class="text-right"><a class="btn-link"  href="{{ next }} ">下一区<i class="icon-chevron-right"></i></a></p>
			{% endif %}
		</div>
	</div>
	<dl class="dl-horizontal">
		<dt>总共：</dt>
		<dd>{{ total_count }}层架</dd>
		{% if static_total %}
		<dt>应有：</dt>
		<dd>{{ static_total }}层架</dd>
		{% endif %}
		<dt>错误：</dt>
		<dd>{{ error_count }}层架</dd>
		<dt>警告：</dt>
		<dd>{{ warning_count }}层架</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt >背景说明:</dt>
		<dd class="span7">
		<strong class="alert alert-success">强制顺序</strong>
		<strong class="alert alert-info">区域交界</strong>
		<strong class="alert">警告层位</strong>
		<strong class="alert alert-error">错误层位</strong>
		</dd>
	</dl>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>层架信息</th>
				<th>首本书信息</th>
			</tr>
		</thead>
		<tbody>
			{% for case in all_cases %}
			<tr class="
				{% if case.is_error %}
				error
				{% elif case.is_warning %}
				warning
				{% elif case.is_info %}
				info
				{% elif case.is_success %}
				success
				{% endif %}
				">   
				<td>
					{{ forloop.counter }}
					{% if case.is_error %}
					error
					{% elif case.is_warning %}
					warning
					{% elif case.is_info %}
					info
					{% elif case.is_success %}
					success
					{% endif %}
				</td>   
				<td>
					{{ case.translate }}<br>
					<a class="btn-link" target="_blank" href="{% url 'case_detail' case.szbookcaseno%} ">{{ case.szbookcaseno }}</a><br>
					{{ case.szfirstbookid }}<br>
					{{ case.szpretendindexnum }}
				</td>     
				<td>
					{% with case.book as book %}
					{% if book %}
					<a class="btn-link" target="_blank" href="{% url 'book_detail' book.szbookid %}">
						{{ book.szname }}
					</a>
					<br>
					{% if book.bforcesortcase %}<strong>[强制定位]</strong>{% endif %}
					{% if book.szbookcaseno %}
					{{ book.get_case_info }}: <a class="btn-link" target="_blank" href="{% url 'case_detail' book.szbookcaseno%} ">{{ book.szbookcaseno }}</a>
					{% endif %}
					<br>
					{{ book.szbookid }}
					<br>
					<a class="btn-link" target="_blank" href="{{ book.get_search_url }}">
						<i class="icon-hand-right"></i>
						{{ book.szbookindex }}
					</a>
					:{{ book.szpretendindexnum }}
					{% else%}
					<strong>Not Exist!<strong>
					{% endif %}
					{% endwith %}
				</td>   
			</tr>    
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
