[submodule "django-debug-toolbar"]
	path = django-debug-toolbar
	url = https://github.com/django-debug-toolbar/django-debug-toolbar.git
[submodule "adli_django_utils"]
	path = adli_django_utils
	url = https://github.com/lxdiyun/django_util.git
