{% extends "checkcase/base.html" %}

{% block content %}
<h3>{{ area_string }}</h3>
<h5>总共：{{ count }}架</h5>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>上一层</th>
			<th>中间层</th>
			<th>下一层</th>
		</tr>
	</thead>
	<tbody>
		{% for case in error_list %}
		<tr>   
			<td>{{ forloop.counter }}</td>   
			<td>
				{{ case.pre.translate }}:{{ case.pre }}<br>
				<a class="btn-link" target="_blank" href="{% url 'book_detail' case.pre.szfirstbookid%} ">{{ case.pre.szfirstbookid }}</a>
				:{{ case.pre.szpretendindexnum }}
			</td>     
			<td>
				{{ case.cur.translate }}:{{ case.cur }}<br>
				<a class="btn-link" target="_blank" href="{% url 'book_detail' case.cur.szfirstbookid%} ">{{ case.cur.szfirstbookid }}</a>
				:{{ case.cur.szpretendindexnum }}
			</td>   
			<td>
				{{ case.next.translate }}:{{ case.next }}<br>
				<a class="btn-link" target="_blank" href="{% url 'book_detail' case.next.szfirstbookid%} ">{{ case.next.szfirstbookid }}</a>
				:{{ case.next.szpretendindexnum }}
			</td>
		</tr>    
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
