{% extends "zenshu/base.html" %}

{% block content %}
<h2>{{ donor.name }}</h2>
{% if donor.description %}
<p><strong>简介：</strong>{{ donor.description }}</p>
{% endif %}
{% if books.count %}
<p ><strong >最近赠书时间：</strong> {{ donor.last_donate_date }}</p>
<p ><strong >共赠送册数：</strong> {{ donor.total_donate }}</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>书名／作者</th>
			<th></th>
			<th>捐赠时间</th>
			<th>册数</th>
		</tr>
	</thead>
	<tbody>
		{% for book in books%}
		<tr>   
			<td >{{ forloop.counter }}</td>   
			<td >
				<a href="{{ book.get_absolute_url }}" class="btn-link">
				{{ book.name }}{% if book.author_name %} / {{ book.author_name }}{% endif %}
				</a>
			</td>     
			<td >
				{% if book.get_cover %}
				{% with photo=book.get_cover %}
				<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
					<a href="{{ photo.image.url }}" target="_blank" title="{{ photo.name }}" data-gallery="gallery">
						<img class="img-rounded my-image" src="{{ photo.thumbnail.url}}"> 
					</a>
				</div>
				{% endwith %}
				{% endif %}
			</td>   
			<td >{{ book.donate_date }}</td>   
			<td >{{ book.amount }}</td>   
		</tr>    
		{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}
