{% extends "site_base.html" %}

{% block title %}RFID区域列表{% endblock title %}

{% block content %}
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>区域代码</th>
				<th>区域</th>
				<th>书类</th>
			</tr>
		</thead>
		<tbody>
			{% for area, info in area_list.items %}
			<tr>   
				<td>
					{{ area|stringformat:"02d" }}
					<a target="_blank" href="{% url "case_area_list" area %}"><i class="icon-search"></i></a>
				</td>     
				<td>{{ info.0 }}</td>     
				<td>{{ info.1 }}</td>     
			</tr>    
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
