{% extends "site_base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
	<h1>{{ title }}</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{{ columns.0 }}</th>
				<th>{{ columns.1 }}</th>
				<th>{{ columns.2 }}</th>
			</tr>
		</thead>
		<tbody>
			{% for area, info in area_list.items %}
			<tr>   
				<td>
					{{ area|stringformat:"02d" }}
					<a target="_blank" href="{% url forward_view area %}"><i class="icon-search"></i></a>
				</td>     
				<td>{{ info.0 }}</td>     
				<td>{{ info.1 }}</td>     
			</tr>    
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
