{% extends "site_base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block navnum %}1{% endblock navnum %}

{% block content %}
<div class="container">
	<h1>{{ title }}</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{{ columns.0 }}</th>
				<th>{{ columns.1 }}</th>
				<th>{{ columns.2 }}</th>
				<th>{{ columns.3 }}</th>
			</tr>
		</thead>
		<tbody>
			{% for area, info in area_list.items %}
			<tr>   
				<td>
					{{ area|stringformat:"02d" }}
					{% if info.0 in checked_catalog_list %}
					<i class="icon-ok"></i>
					{% endif  %}
				</td>     
				<td>
					<a title="层架列表" target="_blank" href="{% url forward_view area %}">{{ info.0 }}</a> 
				</td>     
				<td>{{ info.1 }}</td>     
				<td>
					<a title="详细列表" target="_blank" href="{% url "area_detial" area %}"><i class="icon-search"></i></a>
					<a title="概要列表" class="btn-link" target="_blank" href="{% url "area_detial_error_only" area %}"><i class="icon-th-list"></i></a>
				</td>     
			</tr>    
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
