{% extends "site_base.html" %}

{% block title %}查询图书{% endblock title %}

{% block content %}
<div class="container-fluid">
	<legend>查询图书信息</legend>
	<form method="POST" action="{% url 'book_query' %}" novalidate>
		<fieldset>
			<div class="control-group">
				<label for="book_ssid_list" class="control-label">条码号(使用换行或空格分隔条码号)</label>
				<div class="controls">
					<textarea class="form-control" name="book_ssid_list" rows="8" required data-validation-required-message="请输入条码号">{{ book_ssid_list }}</textarea>
					<p class="help-block"></p>
				</div>
			</div>
			<button type="submit" class="btn">查询</button>
		</fieldset>
		{% csrf_token %}
	</form>
	{% if not_found %}
	<strong>未找到的登录号:</strong>
	{% for ssid in not_found %}
	{{ ssid }}
	{% endfor %}
	{% endif %}
	{% include "rfid/book_list_intra_table.html" %}
</div>
{% endblock content %}

{% block extend_js %}
{% include "rfid/book_list_intra_table.js" %}
$(document).ready(function() {
	$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
});
{% endblock %}
