{% extends "site_base.html" %}

{% block title %}书本信息 - {{ book.szname }}{% endblock title %}

{% block content %}
<div class="container">
	<h2>{{ book.szname }}</h2>
	<p><strong>登录号：</strong>{{ book.szbookid }}</p>
	<p><strong>索书号：</strong>{{ book.szbookindex }}</p>
	<p><strong>伪索书号：</strong>{{ book.szpretendindexnum }}</p>
	<p><strong>层架信息：</strong>{{ book.get_case_info }}</p>
	<p><strong>所属层架编号：</strong>
	{% if book.szbookcaseno %}
		<a class="btn-link" target="_blank" href="{% url 'case_detail' book.szbookcaseno%} ">
			{{ book.szbookcaseno }}
		</a>
	{% endif %}
	</p>
	<p><strong>是否强制定位：</strong>{% ifequal 1 book.bforcesortcase %}是{% else %}否{% endifequal %}</p>
	<p><strong>注册日期：</strong>{{ book.dtconvertdate }}</p>
	<p><strong>作者：</strong>{{ book.szauthor }}</p>
	<p><strong>是否外借：</strong>{% ifequal 9 book.nbookstatus %}是{% else %}否{% endifequal %}</p>
	<p><strong>借书日期：</strong>{{ book.dtborrowdate }}</p>
	<p><strong>应还日期：</strong>{{ book.dtneedbackdate }}</p>
	<p><strong>最近借还时间：</strong>{{ book.latest_borrow_date }}</p>
	<a class="btn-link" target="_blank" href="{{ book.get_search_url }}">在图书馆中查找该书<i class="icon-hand-right"></i></a>
</div>
{% endblock content %}
