{% extends "site_base.html" %}

{% block title %}查询图书{% endblock title %}

{% block content %}
<div class="container-fluid">
	<form method="POST" action="{% url 'book_query' %}">
		<fieldset>
			<legend>查询图书信息</legend>
			<label>条码号</label>
			<textarea name="book_ssid_list" rows="8"></textarea>
			<span class="help-block">使用换行或空格分隔条码号</span>
			<button type="submit" class="btn">查询</button>
		</fieldset>
		{% csrf_token %}
	</form>
	{% if not_found %}
	<strong>未找到的登录号:</strong>
	{% for ssid in not_found %}
	{{ ssid }}
	{% endfor %}
	{% endif %}
	{% include "rfid/book_list_intra_table.html" %}
</div>
{% endblock content %}
