{% if books %}
<dl class="dl-horizontal">
	<dt >背景说明:</dt>
	<dd class="span2">
		<strong class="alert alert-success">外借图书</strong>
	</dd>
</dl>
<hr>
<table class="table table-striped table-bordered" id="book_list_table">
	<thead>
		<tr>
			<th>#</th>
			<th>登录号</th>
			<th>书名</th> 
			<th>索书号</th>
			<th>伪索书号</th>
			<th>层架信息</th> 
			<th>所属层架编号</th>
			<th>注册时间</th>
			<th>强制定位</th>
			<th>最近外借时间</th>
			<th>外借</th>
		</tr>
	</thead>
	<tbody>
		{% for book in books%}
		<tr {% if book.nbookstatus != 1 %} class="success" {% endif %}>
			<td >{{ forloop.counter }}</td>
			<td >
				<a class="btn-link" target="_blank" href="{% url 'book_detail' book.szbookid %}">
					{{ book.szbookid }}
				</a>
			</td>
			<td >{{ book.szname }}</td>
			<td >
				<a class="btn-link" target="_blank" href="{{ book.get_search_url }}">
					<i class="icon-hand-right"></i>
					{{ book.szbookindex }}
				</a>
			</td>
			<td >{{ book.szpretendindexnum }}</td>
			<td >{{ book.get_case_info }}</td>
			<td>
				{% if book.szbookcaseno %}
				<a class="btn-link" target="_blank" href="{% url 'case_detail' book.szbookcaseno %}">
					{{ book.szbookcaseno }}
				</a>
				{% endif %}
			<td >{{ book.dtconvertdate }}</td>
			<td >{% ifequal 1 book.bforcesortcase %}是{% else %}否{% endifequal %}</td>
			<td >{{ book.dtborrowdate }}</td>
			<td >{% ifequal 1 book.nbookstatus %}否{% else %}是{% endifequal %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
