{% extends "site_base.html" %}

{% block navnum %}0{% endblock navnum %}

{% block title %}RFID 辅助信息{% endblock title %}

{% block content %}
<div class="container">
	<h1>RFID 辅助信息</h1>
	<dl>
		<dt>综合信息查询</dt>
		<dd><a href="{% url 'area' %}">区域列表</a></dd>
		<dd><a href="{% url 'catalog' %}">分类列表</a></dd>
		<dd><a href="{% url 'book_query' %}">图书信息批量查询</a></dd>
		<dd><a href="{% url 'query_not_popular_books' %}">冷门图书查询</a></dd>
	</dl >
	<dl>
		<dt>首书错架检测</dt>
		<dd><a href="{% url 'area_list' %}">区域首书错架检测</a></dd>
		<dd><a href="{% url 'catalog_list' %}">分类首书错架检测</a></dd>
		<dd><a href="{% url 'log_first_book_changes' %}">首书变更日志</a></dd>
	</dl>
	<dl>
		<dt>错误图书查询</dt>
		<dd><a href="{% url 'books_no_case' %}">图书未上架</a></dd>
		<dd><a href="{% url 'books_index_error' %}">索书号错误</a></dd>
	</dl>
</div>
{% endblock content %}
