{% extends "site_base.html" %}

{% block title %}RFID 辅助信息{% endblock title %}

{% block content %}
<div class="container">
	<h1>RFID 辅助信息</h1>
	<h3>
		<a target="_blank" href="{% url 'area' %}">区域列表</a>
	</h3>
	<h3>
		<a target="_blank" href="{% url 'catalog' %}">分类列表</a>
	</h3>
	<h2>首书错架检测</h2>
	<h3>
		<a target="_blank" href="{% url 'area_list' %}">区域首书错架检测</a>
	</h3>
	<h3>
		<a target="_blank" href="{% url 'catalog_list' %}">分类首书错架检测</a>
	</h3>
	<h3>
		<a target="_blank" href="{% url 'log_first_book_changes' %}">首书变更日志</a>
	</h3>
	<h2>错误图书查询</h2>
	<h3>
		<a target="_blank" href="{% url 'books_no_case' %}">图书未上架</a>
	</h3>
	<h3>
		<a target="_blank" href="{% url 'books_short_index' %}">疑似简短数据</a>
	</h3>
	<h2>
		<a target="_blank" href="{% url 'book_query' %}">图书批量信息查询</a>
	</h2>
</div>
{% endblock content %}
